In [1]:
import pandas as pd
import numpy as np
from numpy import random

import time

import requests, json

from sqlalchemy import create_engine

In [2]:
engine = create_engine(f'sqlite:///../../../ih_final_project_DB/ih_final_project') 
con = engine.connect()

nombre_tabla = engine.table_names()

/var/folders/n3/xb6jll3d49q147jw5_13y6zm0000gn/T/ipykernel_15231/355435169.py:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  nombre_tabla = engine.table_names()

In [3]:
nombre_tabla

['activity_tracking',
 'credenciales_usuarios',
 'eventos',
 'preferencias_generales',
 'preferencias_restaurantes',
 'restaurantes',
 'restaurantes_visitados',
 'sqlite_sequence',
 'usuarios']

## mockup for credenciales_usuarios

In [4]:
credenciales_usuarios = {
    'username':['pedro', 'elvira', 'jaime', 'fran', 'angel', 'guilloume', 'ana', 'halima', 'javier', 'victor', 'octavio'],
    'email':['pedro@gmail.com', 'elvira@gmail.com', 'jaime@gmail.com', 'fran@gmail.com', 'angel@gmail.com', 'guilloume@gmail.com', 'ana@gmail.com', 'halima@gmail.com', 'javier@gmail.com', 'victor@gmail.com', 'octavio@gmail.com'],
    'password':['pedro1234', 'elvira1234', 'jaime1234', 'fran1234', 'angel1234', 'guilloume1234', 'ana1234', 'halima1234', 'javier1234', 'victor1234', 'octavio1234']
}

In [6]:
credenciales = pd.DataFrame(credenciales_usuarios)

In [7]:
credenciales.to_sql('credenciales_usuarios')

     username                email       password
0       pedro      pedro@gmail.com      pedro1234
1      elvira     elvira@gmail.com     elvira1234
2       jaime      jaime@gmail.com      jaime1234
3        fran       fran@gmail.com       fran1234
4       angel      angel@gmail.com      angel1234
5   guilloume  guilloume@gmail.com  guilloume1234
6         ana        ana@gmail.com        ana1234
7      halima     halima@gmail.com     halima1234
8      javier     javier@gmail.com     javier1234
9      victor     victor@gmail.com     victor1234
10    octavio    octavio@gmail.com    octavio1234

In [9]:
credenciales.to_sql('credenciales_usuarios', con, if_exists='append', index=False)

11

## mockup for usuarios

In [10]:
usuarios = {
    'genero': ['h', 'm', 'h', 'h', 'h', 'h', 'm', 'm', 'h', 'h', 'h'],
    'telefono': ['600000000', '600000000', '600000000', '600000000', '600000000', '600000000', '600000000', '600000000', '600000000', '600000000', '600000000'],
    'nombre': ['Pedro', 'Elvira', 'Jaime', 'Fran', 'Angel', 'Guilloume', 'Ana', 'Halima', 'Javier', 'Victor', 'Octavio'],
    'apellido': ['Consuegra', 'Apellido', 'Apellido', 'Apellido', 'Apellido', 'Apellido', 'Apellido', 'Apellido', 'Apellido', 'Apellido', 'Apellido'],
    'fecha_nacimiento': ['21/07/1997', '12/10/1980', '21/11/1989', '21/08/1992', '11/02/1987', '01/03/1993', '25/07/1992', '21/12/1988', '11/11/1982', '07/07/1986', '21/05/1984'],
    'id_credenciales': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
}

In [12]:
usuarios_df = pd.DataFrame(usuarios)
usuarios_df

   genero   telefono     nombre   apellido fecha_nacimiento  id_credenciales
0       h  600000000      Pedro  Consuegra       21/07/1997                1
1       m  600000000     Elvira   Apellido       12/10/1980                2
2       h  600000000      Jaime   Apellido       21/11/1989                3
3       h  600000000       Fran   Apellido       21/08/1992                4
4       h  600000000      Angel   Apellido       11/02/1987                5
5       h  600000000  Guilloume   Apellido       01/03/1993                6
6       m  600000000        Ana   Apellido       25/07/1992                7
7       m  600000000     Halima   Apellido       21/12/1988                8
8       h  600000000     Javier   Apellido       11/11/1982                9
9       h  600000000     Victor   Apellido       07/07/1986               10
10      h  600000000    Octavio   Apellido       21/05/1984               11

In [13]:
usuarios_df.to_sql('usuarios', con, if_exists='append', index=False)

11

In [4]:
restaurantes_visitados_pedro = {
    'rate': [3, 2, 2, 3, 4, 5, 1, 5, 4],
    'guardado': [1, 1, 1, 1, 1, 1, 1, 1, 1],
    'id_usuario': [1, 1, 1, 1, 1, 1, 1, 1, 1],
    'id_restaurante': [355, 364, 367, 377, 376, 360, 361, 390, 389]
}

In [6]:
visitados = pd.DataFrame(restaurantes_visitados_pedro)
visitados

   rate  guardado  id_usuario  id_restaurante
0     3         1           1             355
1     2         1           1             364
2     2         1           1             367
3     3         1           1             377
4     4         1           1             376
5     5         1           1             360
6     1         1           1             361
7     5         1           1             390
8     4         1           1             389

In [9]:
visitados.to_sql('restaurantes_visitados', con, if_exists='append', index=False)

9

In [4]:
query = '''
                SELECT r.id, r.nombre, r.rate, r.resenas, r.precio, r.labels, r.descripcion, r.direccion, r.url, r.numero, r.img, rv.rate as 'puntuacion', rv.id_usuario  
                FROM restaurantes r
                INNER JOIN restaurantes_visitados rv ON r.id = rv.id_restaurante
            '''

In [6]:
result = pd.read_sql(query, con)
result

,id,nombre,rate,resenas,precio,labels,descripcion,direccion,url,numero,img,puntuacion,id_usuario
0,355,Restaurante Fortunata,"4,1",519,€,Taberna,,"C. del Ferrocarril, 33, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,910 41 00 88,https://lh5.googleusercontent.com/p/AF1QipN5D8...,2,2
1,355,Restaurante Fortunata,"4,1",519,€,Taberna,,"C. del Ferrocarril, 33, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,910 41 00 88,https://lh5.googleusercontent.com/p/AF1QipN5D8...,3,1
2,364,Restaurante Asturias,"4,3",2377,€,Restaurante asturiano,"Platos de cocina española de ternera y pollo, ...","C. de Méndez Álvaro, 6, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,914 68 79 42,https://lh5.googleusercontent.com/p/AF1QipMHmS...,2,1
3,367,Restaurante - La Confusa,"4,6",264,€,Bar restaurante,,"Calle de las Delicias, 24, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,650 25 34 02,https://lh5.googleusercontent.com/p/AF1QipNiVQ...,2,1
4,377,Bistro Bar Restaurante,"4,2",291,€,Restaurante,,"C. de Tortosa, 7, 28045 Madrid",https://www.google.com/maps/place/Bistro+Bar+R...,-,https://lh5.googleusercontent.com/p/AF1QipNfxB...,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,386,Restaurante Mitad del Mundo,"4,2",365,€,Restaurante ecuatoriano,,"C. Manuel Aleixandre, 8, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,910 26 69 75,https://lh5.googleusercontent.com/p/AF1QipOXoG...,4,6
116,385,Restaurante Os'Peregrinos,"4,2",228,€,Restaurante,,"Paseo de las Delicias, 12, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,915 28 09 56,https://lh5.googleusercontent.com/p/AF1QipPRMm...,3,6
117,384,Restaurante Casa Lucía,"4,5",368,€,Restaurante dominicano,,"C. de Rafael de Riego, 41, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,632 69 71 70,https://lh5.googleusercontent.com/p/AF1QipNsmI...,2,6
118,383,ALMA CHELI MATADERO,"4,4",891,€€,Taberna,,"C. de San Félix, 9, 28045 Madrid",https://www.google.com/maps/place/ALMA+CHELI+M...,915 17 28 27,https://lh5.googleusercontent.com/p/AF1QipMK61...,1,6
119,382,Restaurante Arequepay,"4,6",1139,€,Restaurante peruano,Restaurante pequeño y sencillo de cocina perua...,"C. de Palos de la Frontera, 19, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,912 79 95 32,https://lh5.googleusercontent.com/p/AF1QipNewM...,1,6

In [51]:
restVSuser = pd.pivot_table(result, values='puntuacion', index='id', columns=['id_usuario'])
restVSuser = restVSuser.fillna(2.5)
restVSuser

id_usuario    1         2    3    4    5    6
id
354         2.5  2.333333  1.0  4.0  3.0  2.5
355         3.0  2.250000  1.0  2.5  2.5  2.5
356         2.5  1.333333  1.0  2.5  2.5  2.5
357         2.5  2.666667  3.0  3.0  4.0  2.5
358         2.5  3.333333  3.0  2.5  2.5  4.0
359         2.5  4.166667  3.0  2.5  2.5  2.5
360         5.0  3.800000  3.0  2.5  2.5  2.5
361         1.0  2.600000  3.0  2.5  2.5  2.5
362         2.5  2.833333  3.0  2.5  2.5  2.5
363         2.5  2.333333  3.0  2.5  2.5  2.5
364         2.0  2.500000  2.5  2.5  2.5  2.5
365         2.5  4.000000  2.5  2.5  2.5  2.5
366         2.5  2.000000  2.5  2.5  2.5  2.5
367         2.0  2.400000  2.5  2.5  2.5  2.5
368         2.5  1.000000  2.5  2.5  2.5  2.5
370         2.5  1.000000  2.5  2.5  2.5  2.5
371         2.5  1.000000  2.5  2.5  2.5  2.5
374         2.5  1.750000  2.5  2.5  2.5  2.5
375         2.5  1.000000  2.5  2.5  2.5  2.5
376         4.0  2.500000  2.5  2.5  2.5  2.5
377         3.0  3.000000  2.5  2.5  2.5  2.5
380         2.5  1.000000  2.5  2.5  2.5  1.0
381         2.5  5.000000  2.5  2.5  2.5  2.5
382         2.5  2.500000  2.5  2.5  2.5  1.0
383         2.5  1.000000  2.5  3.0  1.0  1.0
384         2.5  1.000000  2.5  3.0  1.0  2.0
385         2.5  2.500000  2.5  3.0  2.0  3.0
386         2.5  2.500000  2.5  3.0  3.0  4.0
387         2.5  4.400000  2.5  3.0  4.0  5.0
388         2.5  5.000000  2.5  3.0  5.0  2.5
389         4.0  2.500000  2.5  5.0  1.0  3.0
390         5.0  1.000000  2.5  5.0  2.0  2.0

In [34]:
import numpy as np

# Scipy
from scipy.spatial.distance import pdist, squareform   # conda install -c anaconda scipy

/Users/pedroconsuegramateo/opt/miniconda3/envs/lunarossa_ih/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [48]:
# Distances calculation in the n-dimensional space

euclid_dist_norm = pd.DataFrame(1/(1 + squareform(pdist(restVSuser.T, 'euclidean'))),
                                index=restVSuser.columns,
                                columns=restVSuser.columns)

euclid_dist_norm

id_usuario         1         2         3         4         5         6
id_usuario
1           1.000000  0.110030  0.156047  0.196360  0.128802  0.136897
2           0.110030  1.000000  0.131344  0.108756  0.146967  0.138451
3           0.156047  0.131344  1.000000  0.156613  0.161390  0.165296
4           0.196360  0.108756  0.156613  1.000000  0.135078  0.149234
5           0.128802  0.146967  0.161390  0.135078  1.000000  0.171008
6           0.136897  0.138451  0.165296  0.149234  0.171008  1.000000

In [49]:
# Similarities to the new User

euclid_simil_norm = euclid_dist_norm[1].sort_values(ascending=False)[1:]
euclid_simil_norm

id_usuario
4    0.196360
3    0.156047
6    0.136897
5    0.128802
2    0.110030
Name: 1, dtype: float64

In [50]:
# Similarities to the new User (we need to reassemble the data)

euclid_simil_items = dict(euclid_simil_norm).items()
euclid_simil_items

dict_items([(4, 0.19636040545626823), (3, 0.1560469703786189), (6, 0.1368970350053999), (5, 0.12880166769238752), (2, 0.11002994687323431)])

In [43]:
other_users = euclid_dist_norm.drop(columns=1)
other_users

id_usuario         2         3         4         5         6
id_usuario
1           0.110030  0.156047  0.196360  0.128802  0.136897
2           1.000000  0.131344  0.108756  0.146967  0.138451
3           0.131344  1.000000  0.156613  0.161390  0.165296
4           0.108756  0.156613  1.000000  0.135078  0.149234
5           0.146967  0.161390  0.135078  1.000000  0.171008
6           0.138451  0.165296  0.149234  0.171008  1.000000

In [52]:
# Movies matrix weights by user

for id_, puntuacion in euclid_simil_items:
    restVSuser[id_] = restVSuser[id_] * puntuacion
restVSuser

id_usuario    1         2         3         4         5         6
id
354         2.5  0.256737  0.156047  0.785442  0.386405  0.342243
355         3.0  0.247567  0.156047  0.490901  0.322004  0.342243
356         2.5  0.146707  0.156047  0.490901  0.322004  0.342243
357         2.5  0.293413  0.468141  0.589081  0.515207  0.342243
358         2.5  0.366766  0.468141  0.490901  0.322004  0.547588
359         2.5  0.458458  0.468141  0.490901  0.322004  0.342243
360         5.0  0.418114  0.468141  0.490901  0.322004  0.342243
361         1.0  0.286078  0.468141  0.490901  0.322004  0.342243
362         2.5  0.311752  0.468141  0.490901  0.322004  0.342243
363         2.5  0.256737  0.468141  0.490901  0.322004  0.342243
364         2.0  0.275075  0.390117  0.490901  0.322004  0.342243
365         2.5  0.440120  0.390117  0.490901  0.322004  0.342243
366         2.5  0.220060  0.390117  0.490901  0.322004  0.342243
367         2.0  0.264072  0.390117  0.490901  0.322004  0.342243
368         2.5  0.110030  0.390117  0.490901  0.322004  0.342243
370         2.5  0.110030  0.390117  0.490901  0.322004  0.342243
371         2.5  0.110030  0.390117  0.490901  0.322004  0.342243
374         2.5  0.192552  0.390117  0.490901  0.322004  0.342243
375         2.5  0.110030  0.390117  0.490901  0.322004  0.342243
376         4.0  0.275075  0.390117  0.490901  0.322004  0.342243
377         3.0  0.330090  0.390117  0.490901  0.322004  0.342243
380         2.5  0.110030  0.390117  0.490901  0.322004  0.136897
381         2.5  0.550150  0.390117  0.490901  0.322004  0.342243
382         2.5  0.275075  0.390117  0.490901  0.322004  0.136897
383         2.5  0.110030  0.390117  0.589081  0.128802  0.136897
384         2.5  0.110030  0.390117  0.589081  0.128802  0.273794
385         2.5  0.275075  0.390117  0.589081  0.257603  0.410691
386         2.5  0.275075  0.390117  0.589081  0.386405  0.547588
387         2.5  0.484132  0.390117  0.589081  0.515207  0.684485
388         2.5  0.550150  0.390117  0.589081  0.644008  0.342243
389         4.0  0.275075  0.390117  0.981802  0.128802  0.410691
390         5.0  0.110030  0.390117  0.981802  0.257603  0.273794

In [54]:
restVSuser['weights'] = restVSuser.sum(axis=1)
restVSuser = restVSuser.sort_values('weights', ascending=False)
restVSuser

id_usuario    1         2         3         4         5         6   weights
id
360         5.0  0.418114  0.468141  0.490901  0.322004  0.342243  7.041402
390         5.0  0.110030  0.390117  0.981802  0.257603  0.273794  7.013347
389         4.0  0.275075  0.390117  0.981802  0.128802  0.410691  6.186487
376         4.0  0.275075  0.390117  0.490901  0.322004  0.342243  5.820340
387         2.5  0.484132  0.390117  0.589081  0.515207  0.684485  5.163022
388         2.5  0.550150  0.390117  0.589081  0.644008  0.342243  5.015599
377         3.0  0.330090  0.390117  0.490901  0.322004  0.342243  4.875355
357         2.5  0.293413  0.468141  0.589081  0.515207  0.342243  4.708085
358         2.5  0.366766  0.468141  0.490901  0.322004  0.547588  4.695401
386         2.5  0.275075  0.390117  0.589081  0.386405  0.547588  4.688267
381         2.5  0.550150  0.390117  0.490901  0.322004  0.342243  4.595415
359         2.5  0.458458  0.468141  0.490901  0.322004  0.342243  4.581747
355         3.0  0.247567  0.156047  0.490901  0.322004  0.342243  4.558762
365         2.5  0.440120  0.390117  0.490901  0.322004  0.342243  4.485385
362         2.5  0.311752  0.468141  0.490901  0.322004  0.342243  4.435040
354         2.5  0.256737  0.156047  0.785442  0.386405  0.342243  4.426873
385         2.5  0.275075  0.390117  0.589081  0.257603  0.410691  4.422568
363         2.5  0.256737  0.468141  0.490901  0.322004  0.342243  4.380025
366         2.5  0.220060  0.390117  0.490901  0.322004  0.342243  4.265325
374         2.5  0.192552  0.390117  0.490901  0.322004  0.342243  4.237818
370         2.5  0.110030  0.390117  0.490901  0.322004  0.342243  4.155295
375         2.5  0.110030  0.390117  0.490901  0.322004  0.342243  4.155295
368         2.5  0.110030  0.390117  0.490901  0.322004  0.342243  4.155295
371         2.5  0.110030  0.390117  0.490901  0.322004  0.342243  4.155295
382         2.5  0.275075  0.390117  0.490901  0.322004  0.136897  4.114995
384         2.5  0.110030  0.390117  0.589081  0.128802  0.273794  3.991824
356         2.5  0.146707  0.156047  0.490901  0.322004  0.342243  3.957901
380         2.5  0.110030  0.390117  0.490901  0.322004  0.136897  3.949950
383         2.5  0.110030  0.390117  0.589081  0.128802  0.136897  3.854927
364         2.0  0.275075  0.390117  0.490901  0.322004  0.342243  3.820340
367         2.0  0.264072  0.390117  0.490901  0.322004  0.342243  3.809337
361         1.0  0.286078  0.468141  0.490901  0.322004  0.342243  2.909367

In [56]:
top10 = restVSuser[['weights']].head(10)
top10

id_usuario   weights
id
360         7.041402
390         7.013347
389         6.186487
376         5.820340
387         5.163022
388         5.015599
377         4.875355
357         4.708085
358         4.695401
386         4.688267

In [57]:
top10.index

Int64Index([360, 390, 389, 376, 387, 388, 377, 357, 358, 386], dtype='int64', name='id')

In [74]:
recomendations = result[result['id'].isin(top10.index)].drop(columns=['puntuacion', 'id_usuario']).drop_duplicates()
recomendations

,id,nombre,rate,resenas,precio,labels,descripcion,direccion,url,numero,img
4,377,Bistro Bar Restaurante,"4,2",291,€,Restaurante,,"C. de Tortosa, 7, 28045 Madrid",https://www.google.com/maps/place/Bistro+Bar+R...,-,https://lh5.googleusercontent.com/p/AF1QipNfxB...
5,376,Restaurante Horóscopo,"4,4",386,€,Restaurante,,"C. de Juana Doña, 16, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,915 39 40 74,https://lh5.googleusercontent.com/p/AF1QipOPLJ...
6,360,Mesón La Casina,"3,9",315,€,Restaurante asturiano,,"Calle de las Delicias, 16, 28045 Madrid",https://www.google.com/maps/place/Mes%C3%B3n+L...,915 39 88 73,https://lh5.googleusercontent.com/p/AF1QipN_Aw...
8,390,El Tizón,"3,8",512,€€,Bar restaurante,,"C. de Jaime el Conquistador, 42, 28045 Madrid",https://www.google.com/maps/place/El+Tiz%C3%B3...,914 73 09 74,https://lh5.googleusercontent.com/p/AF1QipNbNM...
9,389,La Cantina del Matadero,"3,7",912,€€,Restaurante,Antigua sala de calderas de ladrillo convertid...,"Pl. de Legazpi, 8, 28045 Madrid",https://www.google.com/maps/place/La+Cantina+d...,625 90 81 88,https://lh5.googleusercontent.com/p/AF1QipPlAv...
16,387,Parisien,"4,3",277,,Restaurante,,"Calle del Gral. Lacy, 38, 28045 Madrid",https://www.google.com/maps/place/Parisien/dat...,912 85 77 78,https://lh5.googleusercontent.com/p/AF1QipOa-O...
45,388,Sidrería Restaurante La Casona,"3,9",380,€,Bar restaurante,,"C. de Tortosa, 1, 28045 Madrid",https://www.google.com/maps/place/Sidrer%C3%AD...,915 39 80 68,https://lh5.googleusercontent.com/p/AF1QipNklU...
53,357,"Bar ""Divino Tinto""","4,5",832,€€,Bar,,"C. del Hierro, 4B, 28045 Madrid",https://www.google.com/maps/place/Bar+%22Divin...,616 92 54 77,https://lh5.googleusercontent.com/p/AF1QipNvGK...
54,358,Kia Ora,"4,5",126,,Restaurante,"Restaurante sencillo, con terraza, que ofrece ...","C. Eros, 18, 28045 Madrid",https://www.google.com/maps/place/Kia+Ora/data...,657 49 34 80,https://lh5.googleusercontent.com/p/AF1QipPhz8...
96,386,Restaurante Mitad del Mundo,"4,2",365,€,Restaurante ecuatoriano,,"C. Manuel Aleixandre, 8, 28045 Madrid",https://www.google.com/maps/place/Restaurante+...,910 26 69 75,https://lh5.googleusercontent.com/p/AF1QipOXoG...